* {
  font-family: verdana;
  text-align: center;
  background-color: #ebfff0ff;
  color: #0f5737;
}

.top {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #bef4dbff;
}

.middle {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #bef4dbff;
}

.title {
  font-size: 56px;
  margin: 0px;
  background-color: #bef4dbff;
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.columns {
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}

.columns button {
  background-color: #bef4dbff;
  height: 60px;
  width: 140px;
}

.columns p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-bottom: 0px;
}

.headings p {
  display: inline-block;
  font-size: 32px;
  padding: 0px;
}

#prices {
  margin-right: 114px;
}

button {
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.active {
  background: #357EBD;
  color: #3300FF;
}

button.active {
  background-color: #7ce9b6;
}

.bottom {
  background-color: #bef4dbff;
}

.bottom button {
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  background-color: #f2f2f2;
}
