* {
  font-family: verdana;
  text-align: center;
  background-color: #ebfff0ff;
  color: #0f5737;
}

.top {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #bef4dbff;
}

.title {
  font-size: 56px;
  margin: 0px;
  background-color: #bef4dbff;
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.columns {
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}

.columns button {
  background-color: #bef4dbff;
  height: 60px;
  width: 140px;
}

.columns p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-bottom: 0px;
}

.headings p {
  display: inline-block;
  font-size: 32px;
  padding: 0px;
}

#prices {
  margin-right: 114px;
}

button {
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.active {
  background: #357EBD;
  color: #3300FF;
}

button.active {
  background-color: #7ce9b6;
}

.bottom {
  background-color: #bef4dbff;
}

.bottom button {
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 2em;
  width: 14em
}

a {
  text-decoration: none;
  background-color: #f2f2f2;
}

//maybe delete

#location {
    margin:4px;

    float:center;
}

#location label {
    float:center;
    width:170px;
    margin:4px;
    background-color:#7ce9b6;;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#location label span {
    text-align:center;
    font-size: 25px;
    padding:13px 0px;
    display:block;
}

#location label input {
    position:absolute;
    top:-20px;
}

#location input:checked + span {
  background-color: #bef4dbff;
}

#location .blue {
  background-color: #bef4dbff;
}

#meal .blue {
  background-color: #bef4dbff;
}

#meal {
    margin:4px;

    float:center;
}

#meal label {
    float:center;
    width:170px;
    margin:4px;
    background-color:#7ce9b6;;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#meal label span {
    text-align:center;
    font-size: 25px;
    padding:13px 0px;
    display:block;
}

#meal label input {
    position:absolute;
    top:-20px;
}

#meal input:checked + span {
  background-color: #bef4dbff;
}


#mood {
    margin:4px;

    float:center;
}

#mood label {
    float:center;
    width:170px;
    margin:4px;
    background-color:#7ce9b6;;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#mood label span {
    text-align:center;
    font-size: 25px;
    padding:13px 0px;
    display:block;
}

#mood label input {
    position:absolute;
    top:-20px;
}

#mood input:checked + span {
  background-color: #bef4dbff;
}

#mood .blue {
  background-color: #bef4dbff;
}

#prices {
    margin:4px;

    float:center;
}

#prices label {
    float:center;
    width:170px;
    margin:4px;
    background-color:#7ce9b6;;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#prices label span {
    text-align:center;
    font-size: 25px;
    padding:13px 0px;
    display:block;
}

#prices label input {
    position:absolute;
    top:-20px;
}

#prices input:checked + span {
  background-color: #bef4dbff;
}

#prices .blue {
  background-color: #bef4dbff;
}

//end
