* {
  font-family: verdana;
  text-align: center;
  background-color: #ebfff0ff;
}

.top {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #bef4dbff;
}

.title {
  color: #0f5737;
  font-size: 56px;
  margin: 0px;
  background-color: #bef4dbff;
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom {
  background-color: #bef4dbff
}

img {
  height: 162px;
  width: auto;
  margin-bottom: 85px
}

button {
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5x;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  width: 14em
}

a {
  color: #0f5737; 
  text-decoration: none;
  background-color: #f2f2f2;
}
